<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> Express mongo ejs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <style>
    body {
      background: #00416A;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #E4E5E6, #00416A);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
  </style>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">
      <img src="http://www.cognos.com.bo/wp-content/uploads/2017/02/logocolor.png" style="width: 30%; height: 15%;">CRUD Express Mongo y Ejs
    </a>
  </nav>